<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="schema"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="DATAVAULT"/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="tableName"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="ARALUEN_DATAVAULT&quot;.h_ndis_support_item&quot;"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="Schema_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="Schema" type="xstring" value="DATAVAULT"/>
<config key="TableName_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="TableName" type="xstring" value="ARALUEN_DATAVAULT&quot;.h_ndis_support_item&quot;"/>
<config key="TempTable_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="TempTable" type="xboolean" value="false"/>
<config key="IfNotExists_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="IfNotExists" type="xboolean" value="false"/>
<config key="UseDynamicSettings_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="UseDynamicSettings" type="xboolean" value="false"/>
<config key="AdditionalOptions_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="AdditionalOptions" type="xstring" value=""/>
<config key="Keys"/>
<config key="Columns">
<config key="Column0">
<entry key="columnName" type="xstring" value="Support Item Number"/>
<entry key="columnType" type="xstring" value="varchar(255)"/>
<entry key="notNull" type="xboolean" value="false"/>
</config>
<config key="Column1">
<entry key="columnName" type="xstring" value="H_NDIS_SUPPORT_ITEM_SID"/>
<entry key="columnType" type="xstring" value="varchar(255)"/>
<entry key="notNull" type="xboolean" value="false"/>
</config>
</config>
<config key="NameBasedKeys"/>
<config key="KnimeBasedTypeMapping"/>
<config key="NameBasedTypeMapping"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<config key="nodecontainer_message">
<entry key="type" type="xstring" value="ERROR"/>
<entry key="message" type="xstring" value="Execute failed: SQL compilation error:%%00010syntax error line 1 at position 65 unexpected '('.%%00010syntax error line 1 at position 88 unexpected 'varchar'.%%00010syntax error line 1 at position 95 unexpected '('.%%00010syntax error line 1 at position 96 unexpected '255'.%%00010syntax error line 1 at position 101 unexpected ','."/>
</config>
<entry key="factory" type="xstring" value="org.knime.base.node.io.database.tablecreator.DBTableCreatorNodeFactory"/>
<entry key="node-name" type="xstring" value="Database Table Creator"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.5.3.v201804041546"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.5.3.v201804041546"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Database Table Creator"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
